.NavCard {
  width: 10vmax;
  text-align: center;
  cursor: pointer;
}
.NavCard > img {
  width: 10vw;
}
.NavCard > p {
  margin: 0;
}

.NavCard > span {
  color: orangered;
}

/* @media screen and (max-width: 1200px) {
  .NavCard {
    width: 29%;
  }
} */
