.navOptions {
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  padding: 2vmax;
  z-index: 1000;
}

@media screen and (max-width: 1200px) {
  .navOptions {
    font-size: 10px;
  }
}
